#site-preview {
  width:  1600px;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
}

#site-preview #slide-viewer {
  width: 100%;
  overflow: hidden;
}

#site-preview h1,
#site-preview h3,
#site-preview p {
  margin: 0;
}

#site-preview .slide {
  width: 100%;
  display: inline-block;
  z-index: 100;
  width: 1060px;
  height: 484px;
  position: relative;
}

#site-preview #paginate {
  background-color: rgba(255,255,255,0.7);
  background-image: none;
  text-align: center;
  padding: 10px 10px 5px 10px;
  position: absolute;
  bottom: 0px;
  width: 1020px;
  z-index: 100;
}

#site-preview #paginate a.pager {
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;

  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

#site-preview #paginate a.pager img {
  width: 142px;
  height: 37px;
}


#site-preview #paginate a.pager.active,
#site-preview #paginate a.pager:hover {
  opacity: 1.0;
}

#site-preview #paginate .pager .dot {
  width: 8px;
  height: 8px;
  margin: 2px auto;

  background: url(../images/dots.png) 0 -8;
  z-index: 251;
}

#site-preview #paginate .pager.active .dot {
  background: url(../images/dots.png) 0 0;
}

#site-preview .desc {
position: absolute;
 overflow: hidden;
 height: 480px;
 width: 1060px;
}

